@import 'vendor/bourbon/bourbon';
@import 'vendor/neat/neat';
@import 'scss/base/base';
@import 'scss/navigation';

/* =Theme customization starts here
-------------------------------------------------------------- */
h4.post_title {
  font-size: 18px !important;
  display: block; }

.header_social_icons img {
  margin-top: 10px;
  padding-top: 2px; }

.header_social_icons_last img {
  margin-right: 16px; }

.vc_custom_heading h4 {
  font-size: 18px !important; }

.vc_btn3.vc_btn3-color-juicy-pink, .vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat {
  background-color: #124b91 !important; }

#sb_instagram #sbi_load, #sb_instagram .sb_instagram_error {
  text-align: right !important; }

.vc_row {
  margin-right: 0px !important; }

body, p {
  -webkit-font-smoothing: subpixel-antialiased !important; }

.post_info_item .post_info_tags, .post_info_item .post_info_counters {
  display: none !important; }

.post_info {
  font-size: inherit;
  line-height: inherit; }

/* 10. Footer areas
-------------------------------------------------------------- */
.sc_socials.sc_socials_size_small a.icons span[class^="icon-"] {
  color: #FFF !important;
  font-size: 28px; }

.footer_wrap a {
  color: #a1a7ab; }

.footer_wrap {
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  padding: 70px 0 40px; }
  .footer_wrap .widget_title {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 1.5em; }
  .footer_wrap a:hover {
    color: #3598db !important; }

.footer_wrap .widget_twitter {
  color: #a1a7ab; }

.footer_wrap .widget_twitter a {
  color: #FFFFFF; }

.footer_wrap .sc_icon {
  margin-right: 10px; }

.footer_wrap .dotted_bg li > span {
  padding-left: 25px; }

.footer_wrap .dotted_bg li > span + span {
  padding-left: 5px; }

.footer_wrap .dotted_bg .sc_icon {
  margin-left: -25px; }

.copyright_wrap {
  border-top: 1px solid #303030;
  color: #ddd;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  padding: 1.5em 0; }
  .copyright_wrap a,
  .copyright_wrap .menu_copy_nav > li > a {
    color: #3598db; }
    .copyright_wrap a:hover,
    .copyright_wrap .menu_copy_nav > li > a:hover {
      color: #fff; }

.sc_button:not(.sc_button_tribe) span {
  color: white;
  font-size: 16px; }

.vc_btn3.vc_btn3-color-juicy-pink,
.vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat {
  font-size: 16px; }

.icon-angle-up-1:before {
  font-size: 30px; }

.menu_main_wrap .search_wrap .search_icon {
  top: 13px; }

 input[type="checkbox"] + label {
    box-sizing: content-box;
}

#contribution label, #contribution .fieldlabel {
 display: inline;
}

#credit_card-creditCardTypeSelector ul {
  margin-bottom: .5em;
  overflow: auto;
}

.nested_table input#firstname {
 width: 95%;
}

#processbutton {
 margin: 1.5em 0 !important;
}

#event_results .event {
  display: block;
}

@media (max-width: 480px) {
#SKIN #simplesearch th.form_label, #SKIN #eventdetail th.form_label, #SKIN #eventcreate td.label, #SKIN #loginform th.form_label, #SKIN #inviteform th.form_label, #SKIN #signupform th.form_label {
    width: 50% !important;
}
}
/*# sourceMappingURL=style.css.map */
