html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

.content_wrap {
    @include outer-container($local-max-width);
    box-sizing: content-box;
    padding: 0 $base-spacing;
}

.sc_content.content_wrap {
    padding: 0;
}

.page_content_wrap.wrap_custom {
    padding: $base-spacing * 3 0 0;
}

.footer_wrap {
    margin-top: $base-spacing * 4;
}
